<footer class=" text-center text-white colorfooterbody">
    <div class="container p-4">
        <section class="">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"> <a href="#" class="text-white">Qui sommes nous ?</a></h5>
                    <hr>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact</h5>
                    <hr>
                    <p>exemple@exemple.com</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Réseaux sociaux</h5>
                    <hr>
                    <img src="/src/assets/icons/facebook-brands.svg" alt="">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    <img src="/src/assets/icons/logo-circulaire-facebook.svg" alt="">
                    
                    
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"> <a href="#" class="text-white"> Mentions légales </a></h5>
                </div>
            </div>
        </section>
    </div>
     <div class="text-center p-2 colorfootercopyright">
        © 2020 Copyright:
        <a class="text-white" href="https://ZeroGaspi.com/">ZeroGaspi.com</a>
     </div>
</footer>