<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-9 mw-100">
            <div id="map"></div>
        </div>
        <div class="col-3">
            <form class="form-inline">
                <div class="input-group input-group-sm mb-3 w-100">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" aria-label="Small"
                        aria-describedby="recherche" placeholder="Rechercher..."> 
                    <button type="submit" class="btn btn-success btn-sm" (click)="getSearch()">Envoyer</button>
                </div>
            </form>
            <app-listing-card titre="Entreprises recherchés" [elements]="elements"></app-listing-card>
            <div class="card w-100 mt-2">
                <div class="card-body">
                    <h5 class="card-title">Entreprises favorites</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
            </div>
        </div>
    </div>
</div>