<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mw-100">
        </div>
        <div class="col-6">
            <form class="form-inline">
                <div class="input-group input-group-sm mb-3 w-100">
                    <input type="text" class="form-control form-control-sm" aria-label="Small"
                        aria-describedby="recherche" placeholder="Rechercher une commande...">
                    <button type="submit" class="btn btn-success btn-sm">Envoyer</button>
                </div>
            </form>
            <app-listing-card titre="Historique des commandes" [elements]="elementsC"></app-listing-card>
        </div>
        <div class="col-3 mw-100">
        </div>
    </div>
</div>
