<header>
    <div class="logo-container">
        <img src="" alt="logo" />
        <h3 class="logo">Zero Gaspi</h3>
    </div>
    <nav>
    <ul class="nav-links">
        <li class="nav-link">
            <a routerLink="/ajouterdustockV">Ajouter du stock</a>
        </li>
        <li class="nav-link">
            <a routerLink="statutdesventesV">Statut des ventes</a>
        </li>
        <li class="nav-link">
            <a routerLink="/paramètresV">Paramètres</a>
        </li>
    </ul>
    </nav>
    <div class="cart">
        <img src="" alt="déconnexion" />
    </div>
    </header>
