<h6>INFORMATIONS PERSONNELLES</h6>
<hr>
<form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Adresse mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="particulier.connexion.mail" [ngModelOptions]="{standalone:true}">
    
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Numéro de téléphone</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="particulier.numeroTelephone" [ngModelOptions]="{standalone:true}">
    
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Rue</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="particulier.rue" [ngModelOptions]="{standalone:true}">
    
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Ville</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="particulier.ville" [ngModelOptions]="{standalone:true}">
    
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Code Postal</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="particulier.codePostal" [ngModelOptions]="{standalone:true}">
    </div>
  <button (click)="UpdateForParticulier()" class="btn btn-outline-info" type="button">Valider</button>
  <button class="btn btn-outline-info" class="btn btn-danger" routerLink="accueil">Annuler</button>
</form> 