
    <header>
    <div class="logo-container">
        <img src="" alt="logo" />
        <h3 class="logo">Zero Gaspi</h3>
    </div>
    <nav>
    <ul class="nav-links">
        <li class="nav-link">
            <a routerLink="/chercherdeslots">Chercher des lots</a>
        </li>
        <li class="nav-link">
            <a routerLink="/favoris">Favoris</a>
        </li>
        <li class="nav-link">
            <a routerLink="/paramètres">Paramètres</a>
        </li>
    </ul>
    </nav>
    <div class="cart">
        <img src="" alt="déconnexion" />
    </div>
    </header>

    