<h6>Notifications</h6>
<hr>
<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label d-block">
            Alertes</label>
        <small class="form-text text-muted">Recevez des notifications par
            mail</small>

        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Un email lorsqu'une entreprise favorite poste une annonce
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Default chekbox
            </label>
        </div>
    </div>
</form>