<h6>PARAMÈTRES DE SÉCURITÉ</h6>
<hr>
<form [formGroup]="userProfile" (ngSubmit)="UpdatePasswordForParticulier()">
    <div class="mb-3">
        <label class="form-label">
            Changer de mot de passe
        </label>
        <input type="password" class="form-control" placeholder="votre mot de passe actuel" formControlName="currentPassword">
        <br>
        <input type="password" class="form-control" placeholder="votre nouveau mot de passe" formControlName="newPassword"
        [ngClass]="{'is-invalid':userProfile.get('newPassword').touched && userProfile.get('newPassword').invalid}" />
        <div *ngIf="userProfile.get('newPassword').touched && userProfile.get('newPassword').invalid"  class="invalid-feedback">
          <div *ngIf="userProfile.get('newPassword').errors.minlength">Au moins 6 caractères sont requis !</div>
        </div>

        <input type="password" class="form-control" placeholder="confirmer le nouveau mot de passe" formControlName="confirmNewPassword">
    </div>
    <div>
        <button [disabled]="!userProfile.valid" type="submit">Confirmer
        </button>
    </div>
</form>