<h6>PARAMÈTRES DE SÉCURITÉ</h6>
<hr>
<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">
            Changer de mot de passe
        </label>
        <input type="password" class="form-control" id="exampleFormControlInput1"
            placeholder="votre mot de passe actuel">
        <br>
        <input type="password" class="form-control" id="exampleFormControlInput1"
            placeholder="votre nouveau mot de passe">
        <input type="password" class="form-control" id="exampleFormControlInput1"
            placeholder="confirmer le nouveau mot de passe">
    </div>
</form>