<div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
      <li ngbNavItem="profil-item">
        <a ngbNavLink>Profil</a>
        <ng-template ngbNavContent>
            <h6>INFORMATIONS PERSONNELLES</h6>
            <hr>
            <form>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nom complet</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="username" value=""
                            placeholder="Bilel Boukherbache">

                    </div>
                </div>
                <button class="btn btn-outline-info" type="button">Mettre à jour</button>
                <button class="btn btn-outline-info" type="reset">Réinitialiser</button>
            </form>
        </ng-template>
      </li>
      <li ngbNavItem="securite-item">
        <a ngbNavLink>Sécurité</a>
        <ng-template ngbNavContent>
            <h6>PARAMÈTRES DE SÉCURITÉ</h6>
            <hr>
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">
                        Changer de mot de passe
                    </label>
                    <input type="password" class="form-control" id="exampleFormControlInput1"
                        placeholder="votre mot de passe actuel">
                    <br>
                    <input type="password" class="form-control" id="exampleFormControlInput1"
                        placeholder="votre nouveau mot de passe">
                    <input type="password" class="form-control" id="exampleFormControlInput1"
                        placeholder="confirmer le nouveau mot de passe">

                </div>
            </form>
        </ng-template>
      </li>
      <li ngbNavItem="parametresducompte-item">
        <a ngbNavLink>Paramètres du compte</a>
        <ng-template ngbNavContent>
            <h6>PARAMÈTRES DU COMPTE</h6>
            <hr>
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-danger">
                        Supprimer Compte</label>
                    <p class="text-muted">Attention, cette action est irréversible</p>
                </div>
                <br>
                <button class="btn btn-danger" type="button">Supprimer le Compte</button>
            </form>
        </ng-template>
      </li>
      <li ngbNavItem="paiement-item">
        <a ngbNavLink>Paiement</a>
        <ng-template ngbNavContent>
            <h6>Paiement</h6>
            <hr>
            <form>
                <div class="mb-3">
                    <label class="d-block">Moyen De Paiement</label>
                    <small class="text-muted small">Vous n'avez pas encore ajouter un moyen
                        de paiement</small>
                    <br>
                    <button class="btn btn-outline-info mt-2"> Ajouter Un Moyen De
                        Paiement</button>
                </div>
                <div class="mb-3">
                    <label class="d-block">Historique Paiement</label>
                    <div class="border p-3 text-center">
                        Vous n'avez pas effectué de paiement
                    </div>
                </div>
            </form>
        </ng-template>
      </li>
      <li ngbNavItem="notification-item">
        <a ngbNavLink>Notification</a>
        <ng-template ngbNavContent>
            <h6>Notifications</h6>
            <hr>
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label d-block">
                        Alertes</label>
                    <small class="form-text text-muted">Recevez des notifications par
                        mail</small>

                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Un email lorsqu'une entreprise favorite poste une annonce
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default chekbox
                        </label>
                    </div>
                </div>
            </form>
        </ng-template>
      </li>
    </ul>
  
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
  </div>
  
  <pre>Active: {{ active }}</pre>
