<div class="container">
    <h2 class="text-center">Paramètres du compte</h2>
    <form>
      
            <div class="card mt-3">
                <div class="card-header">
                   Données relatif à votre compte
                </div>
                <div class="card-body">
                    <input-card type="password" id="ancienMdp" libele=" Entrer votre mot de passe actuel"></input-card>
                    <input-card type="password" id="nouveauMdp" libele=" Nouveau mot de passe"></input-card>
                    <input-card type="password" id="confirmMdp" libele="Confirmer nouveau mot de passe"></input-card>
                    <input-card type="email" id="ancienMail" libele="Entrer votre ancienne adresse mail"></input-card>
                    <input-card type="email" id="nouveauMail" libele="Entrer votre nouvelle adresse mail"></input-card>
                    <input-card type="email" id="confirmMail" libele="Confirmer votre nouvelle adresse mail"></input-card>
                    <button-submit libele="Valid"></button-submit>
                </div>
            </div>
      
    </form>
</div>
