<div class="row">
    <div class="col-md-10 col-11 mx-auto">
        <nav aria-label="breadcrumb" class="mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Paramètres</li>
            </ol>
        </nav>

        <div class="row">

            <div class="col-lg-3 col-md-4 d-md-block">
                <div class="card bg-common card-left">
                    <div class="card-body">
                        <nav class="nav d-md-block d-none">
                            <a data-toggle="tab" class="nav-link active" href="#profil"><i
                                    class="far fa-address-book"></i> Profil</a>
                            <a data-toggle="tab" class="nav-link" href="#securite"><i
                                    class="fas fa-user-shield"></i>Sécurité</a>
                            <a data-toggle="tab" class="nav-link" href="#parametresducompte"><i
                                    class="fas fa-user-cog"></i>Paramètres du compte</a>
                            <a data-toggle="tab" class="nav-link" href="#paiement"><i
                                    class="fas fa-money-check-alt"></i>Paiement</a>
                            <a data-toggle="tab" class="nav-link" href="#notification"><i
                                    class="fas fa-bell"></i>Notification</a>
                        </nav>
                    </div>
                </div>
            </div>

              
                

            

            