<div class="row">
    <div class="col-md-10 col-11 mx-auto">
        <nav aria-label="breadcrumb" class="mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Paramètres</li>
            </ol>
        </nav>

        <div class="row">

            <div class="col-lg-3 col-md-4 d-md-block">
                <div class="card bg-common card-left">
                    <div class="card-body">
                        <nav class="nav d-md-block d-none">
                            
                        </nav>
                    </div>
                </div>
            </div>

              
                

            

            